* {
  box-sizing: border-box;
}
html{
  min-width: 800px;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #e3e3e3;

}
